#include "..\Headers\Wordle_Resources.hpp"



#define WIN32_LEAN_AND_MEAN
#include <WordleAPI_WinTargetVer.hpp>
#include <WordleAPI_Resources.hpp>
#include <winres.h>



WORDLE_IDI_MAIN_ICON ICON L".\\Icons\\Main Icon.ico"



WORDLE_IDS_CIRCLE_VS WORDLEAPI_SHADER_RES L".\\Shaders\\CircleVS.glsl"
WORDLE_IDS_CIRCLE_FS WORDLEAPI_SHADER_RES L".\\Shaders\\CircleFS.glsl"
WORDLE_IDS_COLOR_VS WORDLEAPI_SHADER_RES L".\\Shaders\\ColorVS.glsl"
WORDLE_IDS_COLOR_FS WORDLEAPI_SHADER_RES L".\\Shaders\\ColorFS.glsl"
WORDLE_IDS_TEXTURE_VS WORDLEAPI_SHADER_RES L".\\Shaders\\TextureVS.glsl"
WORDLE_IDS_TEXTURE_FS WORDLEAPI_SHADER_RES L".\\Shaders\\TextureFS.glsl"



WORDLE_IDB_ALPHABET BITMAP L".\\Textures\\Alphabet.bmp"



WORDLE_IDT_WORDLIST WORDLEAPI_TEXT_RES L".\\Text\\WordList.txt"



LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US



VS_VERSION_INFO VERSIONINFO
 FILEVERSION WORDLE_VERSION_LIST
 PRODUCTVERSION WORDLE_VERSION_LIST
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0x0L
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904b0"
		BEGIN
			VALUE "FileDescription", WORDLE_APP_NAME_W
			VALUE "FileVersion", WORDLE_VERSION_W
			VALUE "InternalName", WORDLE_APP_NAME_EXT_W
			VALUE "OriginalFilename", WORDLE_APP_NAME_EXT_W
			VALUE "ProductName", WORDLE_APP_NAME_W
			VALUE "ProductVersion", WORDLE_VERSION_W
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 0x4B0
	END
END
